           
           
          


           
           
            #container  {   
            font-family: Arial, Helvetica, sans-serif;
            height: 675px;
            width: 1100px;
            font-size: 18px;
            color: #777;
            background:#777;
            text-align: center; 
            line-height: 20px;
            margin: auto;
            padding-top:  .5px;
            padding-left: 110px; 

            }
           
            .header { 
            height: 80px;
            width: 960px;
            background: #ebebeb;
            text-align: center; 
            line-height: 80px;
            margin-top: 1%;
            margin-right: 2%;
            margin-bottom: 8px;
            margin-left: 2%;
           
            }
           
            .Navagation  { 
            background:#ebebeb;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 80px;
            width: 960px;
            height: 80px;
            margin-top: 8px;
            margin-right: -2%;
            margin-bottom: 18px;
            margin-left: 2%;;
        
            }

            .section {
            height: 290px;
            width: 495px;
            text-align: center; 
            line-height: 80px;
            font-family: Arial, Helvetica, sans-serif;
            background:#ebebeb;
            float: left;
            margin-top: 1px;
            margin-bottom: 0%;
            margin-left: 2%;
            margin-right: 2%;

            }

            .article {
            width: 455px;
            height: 190px;
            text-align: center; 
            line-height: 50px;
            font-family: Arial, Helvetica, sans-serif;
            background:#777;
            float: left;
            margin-top: 2%;
            margin-bottom: 1%;
            margin-left: 2%;
            margin-right: 1%;
            color: #ebebeb;

            }

            .paragraph {
            width: 410px;
            height: 50px;
            text-align: center; 
            line-height: 50px;
            font-family: Arial, Helvetica, sans-serif;
            background: #ebebeb;
            float: left;
            margin-top: 4px;
            margin-bottom: 4px;
            margin-left: 4%;
            margin-right: 1%;
            color: #777;

            }

            .aside {
            height: 290px;
            width: 435px;
            text-align: center;
            line-height: 80px;
            float: right;
            margin-top: 2%;
            margin-bottom: 0%;
            margin-left: 1%;
            margin-right: 2%;
            background:#ebebeb;
            position: relative;
            right:8.7%;
            top: -2.8%;
              
            }



            .footer  {
            height: 80px;
            width: 960px;
            background: #ebebeb;
            text-align: center; 
            line-height: 80px;
            margin-top: 0%;
            margin-right: 2%;
            margin-bottom: 4%;
            margin-left: 2%;
            clear: both;

            }




